:root {
  --bg: #d8e6e4;
  --card: #ffffff;
  --title: #46644c;
  --subtitle: #407875;
  --body: #6b7280;
  --code: rgb(73, 72, 72);
  --brand-1: #DAD299;
  --brand-2: #B0DAB9;
  --brand-3: #809d98;
  --brand-4: #9db5a6;
  --shadow: rgba(17, 24, 39, 0.131);
  --maxw: 1080px;
}

*{box-sizing:border-box}
html,body {
  margin: 0;
  font-size: 16px;
  background: var(--bg); 
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial
}

li {
  margin-bottom: 10px;
}

/* ===== Body Structures ===== */
.wrap {
  max-width: var(--maxw); 
  margin: 20px auto; 
  justify-content: center;
}
section.card {
  background: var(--card);
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 var(--shadow);
  padding: 30px;
  margin: 30px 20px;
  scroll-margin-top: 90px;
}
.card h2 {
  margin: 4px 0 10px;
  font-size: 26px;
  letter-spacing: .2px;
  color: var(--subtitle);
}
.card h3 {
  margin: 4px 0 10px;
  font-size: 22px;
  letter-spacing: .2px;
  color: var(--brand-3);
}
.card hr {
  border: none;
  height: 1px; 
  margin: 10px 0;
  background-color: var(--subtitle)
}
.sub {
  color: var(--body);
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  display: flex;
  align-items: center; 
  gap: 25px;            
  margin: 20px auto;
}
@media (max-width: 820px) {
  .container{display: block};
}
.main_container {
  display: flex;
  margin: 0 auto;
}


/* ===== Banners ===== */
.autumn {
  background: linear-gradient(120deg, var(--brand-1), var(--brand-2) 120%);
  padding: 50px 20px;
  box-shadow: 0 0 10px var(--shadow);
}
.autumn_inner {
  color: var(--title);
  max-width: var(--maxw);
  margin: 0 auto; 
  text-align: center;
}
.autumn h1 {
  margin: 0 0 8px; 
  font-size: 35px; 
  letter-spacing:.2px;
}
.autumn h2 {
  margin: 0 0 8px; 
  font-size: 24px; 
  letter-spacing:.2px;
}
.sticky_header{
  background: linear-gradient(120deg, var(--brand-1), var(--brand-2) 120%);
  box-shadow: 0 0 10px var(--shadow);
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 1px 40px;
  z-index: 100;
}
.sticky_header h1 {
  color: var(--title);
  font-size: 20px;
  margin: 25px 0; 
  letter-spacing:.2px;
}
.meta {
  margin-top: 14px;
  display: inline-flex; 
  gap: 10px; 
  padding: 8px 14px; 
  border-radius: 999px;
  background: rgba(255,255,255,.6); 
  backdrop-filter: blur(6px); 
  border: 1px solid rgba(0,0,0,.05);
  color: var(---body);
}


/* ==== Sidebar ====*/
.sidebar {
  background-color: var(--brand-4);
  color: white;
  padding: 20px;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  max-width: 20%;
  position: sticky;
  box-shadow: 0 0 10px 0 var(--shadow);
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}
.sidebar a:hover {
  background-color: var(--brand-3);
}
@media (max-width: 1080px) {
  .sidebar {
    display: none;
  }
}


/* ===== Tabs ===== */
.tabs {
  margin-top: 18px;
  display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;
}
.tab {
  display:inline-block; padding:10px 14px; border-radius: 999px; text-decoration:none; color:#0f172a;
  background:#fff; border:1px solid rgba(0,0,0,.06);
  transition:.2s ease; box-shadow:0 4px 12px rgba(0,0,0,.04);
}
.tab:hover {
  transform: translateY(-1px); 
  box-shadow:0 8px 18px rgba(0,0,0,.08)
}


/* ===== Grids ===== */
.grid{display:grid; gap:16px; grid-template-columns: repeat(12, minmax(0, 1fr));}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-8{grid-column: span 8;}
@media (max-width: 820px) {
  .col-2,.col-3,.col-4,.col-5,.col-6,.col-8{grid-column: span 12;}
}


/* ===== Media ===== */
figure {
  margin: 10px; 
  background: #fff;
  border: 2px solid rgba(0,0,0,.06);
  border-radius: 12px; 
  overflow: hidden;
}
@media (max-width: 820px){
  figure{margin: 0}
}
figure img, figure video {
  display: block; 
  width: 100%; 
  height: 100%; 
  cursor: zoom-in;
}
figcaption{
  font-size: 15px; 
  color: var(--body);
  padding: 10px 12px;
  text-align: center;
  line-height: 1.5;
}


/* ===== Code Box ===== */
iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 20px;
  border: none;
  overflow: auto;
  border-radius: 6px;
}
.code_container {
  border-radius: 6px;
  box-shadow: 0 10px 10px 0 var(--shadow);
  background: #f0f0f0;
  color: var(--code);
  font-family: "Fira Code", "Menlo", monospace;
}
.code_container iframe {
  height: 90%;
  margin: 10px 0 0 0;
  border-radius: 0;
}
.code_header {
  padding: 10px 10px;
  text-align: start;
  text-wrap: wrap;
  font-size: 11px;
  border-bottom: 1px solid var(--shadow);
}
.code_box {
  font-size: 13px;
  font-family: inherit;
  margin: -25px 20px;
  line-height: 1.5;
  overflow: auto;
}


/* ===== lightbox ===== */
.lightbox {
  display: none; 
  position: fixed;  
  z-index: 101;
  inset: 0; 
  background: rgba(0,0,0,.65);
  padding:20px; 
  align-items: center; 
  justify-content: center; 
}
.lightbox.open { 
  display: flex;
}
.lightbox img, .lightbox video {
  max-width: min(1200px, 92vw); 
  max-height: 88vh; 
  border-radius: 12px; 
  box-shadow: 0 20px 80px rgba(0,0,0,.5);
}